*{
    padding:0;
    margin: 0;
    box-sizing: 0;
}

:root {
  /* Light theme */
  --bg-color: #ffffff;
  --text-color: #111827;
  --primary-color:#2090e6;
  --secondary-color: #f3f4f6;
  --border-color: #d1d5db;
  --card-color: #ffffff;
  --text-focus: #ff8c00;
  --box-shadow-color:#00000014;
  --active-primary: #173c7c;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme */
    --bg-color: #111827;
    --text-color: #f9fafb;
    --primary-color: #60a5fa;
    --secondary-color: #1f2937;
    --border-color: #374151;
    --card-color: #1f2937;
    --text-focus: #ff8c00
  }
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}


.dark {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --card-color: #1f2937;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 28px;
}
.logo{
  display:flex;
 
}
.tag{
  font-weight: 200;
  color: var(--text-color);

}
.logo>img{
  width: 50px;
  height: 40px;
 
}


h1{
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    color: black;
    margin-top: 20px;
   /*  margin-bottom: -12px; */
       
}

 h4{
    font-weight: 200;
    color:rgb(62, 61, 61);
    text-align: center;
    font-family: monospace;
    margin-top: 2px;
    font-size: 30px;
   
   
} 


.stats{
width: 100%;
display:flex;
grid-template-columns: 1fr 3fr;
height: 80px;
align-items: center;
justify-content: space-between;
}

.unit{
 background-color: transparent;
  border: 0.2px solid var(--border-color);
  height: 100%;
  width: 33%;
}
.unit>h3{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

 .card:hover,
.card:focus-within {
  background-color: var(--bg-color);
  transform: translateY(-4px);
  box-shadow: 0 1px 2px var(--box-shadow-color);
} 
.unit>span{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: var(--text-focus);
  align-self: center;
  margin-left: 35%;
  margin-top: 12px;
  align-items: center;
}
.expense-record{
  margin-top: 16px;
margin-top:4px;
   width: 100%;
    display: flex;
    flex-direction: column;
    gap:12px;
    align-items: center;
  background:var(--bg-color);
 
  box-shadow: 0 2px 10px var(--box-shadow-color);
}
.create-record{
    display:flex;
    align-items: center;
    justify-content: center;

}
.expense-record>form>div{
    display: flex;
    flex-direction: column;
    align-self: center;
  /*   height: 50px;
    width: 40%; */
    margin-top:2px;
    padding: 4px 2px;
    margin-bottom:6px;
}

.expense-category{
    margin-top: 12px;
    border: 0.3px solid rgba(0, 0, 0, 0.08);
    padding: 4px 2px;
}
.expense-category:focus{
    border: 0.3px solid var(--primary-color);
}
input {
  margin-top: 6px;
  /* width: 100%; */
  padding: 10px 12px;
  border:0.3px var(--box-shadow-color);
  border-radius: 1px;
  font-size: 16px; 
   outline: none;
  font-family: monospace;
}

input:focus {
  border-color: #333;
   border: 0.8px solid rgb(32, 144, 230);
}

label{
    font-size: medium;
    color: var(--text-color);
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.expense-record>form>button{
    display: flex;
    align-items:center;
    font-size: 12px;
    width: 100%;
    justify-content: center;
    padding: 12px 2px;
    border-radius: 1px;
    background-color: var(--primary-color);
    border: 0;
    margin-top:10px;
    color: var(--secondary-color);
    cursor: pointer;
    margin-bottom: 4px;
    box-shadow: 0px 2px 12px var(--box-shadow-color);
    /* align-self: center; */
    transition: all 0.4s;
}

.expense-record>form>button:active{
    background-color: var(--active-primary);
    transition: all 0.4s;
    opacity: 1;
}

/* Section section with the table */

.expense-table{
   width: 100%; 
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  justify-content: center; */
    margin-top: 2%;
    cursor:pointer;
}

.card>h4,.details>h4{
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    color:var(--text-color);
    text-align: center;
    font-family: monospace;
     margin-top: 22px;
    margin-bottom: 5px;
   
}
table {
  width: 100%;
  border-collapse: collapse;
}

th
 {
background-color: var(--primary-color);
  border: 0.2px solid var(--text-focus);
  padding: 10px;
  text-align: left;
  font-weight: 700;
  color: var(--text-focus);
  font-size: 20px;
  
}

td {

  color: var(--secondary-color);
  font-weight:bold;
   border: 1px solid var(--text-focus);
  padding: 10px;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
}
td{
    font-size: 12px;
    color: var(--text-color);
    font-weight: 300;
}


tr:nth-child(even) {
  background-color: var(--primary-color);
}
tr:hover{
    border-color: var(--bg-color);
    opacity: 0.8;
    transition: transform 0.5s ease;
  
}
.logo-section{
   display: flex;
    flex-direction: row;
    height:30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.logo-section>img{
  display: inline;
    margin-bottom: 8px;
    margin-right: 12px;
}
.header>h4{
    margin-top: 12px;
    margin-bottom: 5px;
}

.video-container {
margin-top:10px;
  width: 50%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1px;
  padding: 12px 4px;
}

.details{
   margin-top: 12px; 
    display: flex;
    flex-direction: column; 
     gap: 4px; 
    align-items: center;
    width: 100%;
   height: 100px; 
    position: relative;
}


/* layout */

.layout {
  width: 100%;
  display: grid;
  height:100vh;
  grid-template-columns: 1fr 5fr; 

}


.sidebar {
  padding:6px;
  background: var(--primary-color);
  height: 100%;
  width: 190px;
}
.sidebar>h3{
  text-align: center;
  padding:15px 8px;
  border-bottom: 0.2px solid var(--text-focus);
  font-weight:800 ;
  cursor:grab ;
  color: var(--text-focus);
}
.categories{
  display:flex ;
  flex-direction:column ;
  gap: 12px;
  width: 100%;
  height: auto;
  align-items:start;
  padding: 10px 2px;
   min-height:30px; 
  border-bottom: 0.2px solid var(--text-focus);
}
.categories>button{
    display: flex;
    align-items:flex-start;
    font-size: 14px;
    width: 100%;
    gap:14px ;
    padding: 12px 8px;
    border-radius: 1px;
   background-color:var(--primary-color); 
   text-align:start ;
    border: 0;
    margin-top:1px;
    color: var(--secondary-color);
    cursor: pointer;
   /*  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2); */
    /* align-self: center; */
    transition: all 0.4s;
    left: 0;
    top: 0;
    border-bottom: -2px solid  var(--text-focus);

}
.main {
  display:grid;
  grid-template-rows: auto 1fr;
 padding:10px 8px ;
 gap: 4px;
}

.header {
  padding:2px;
  border-bottom: 1px solid var(--border-color);
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:4px;
  padding-top:6px;
}

.card {
  padding:12px;
  height: 100%;
  border-radius: 1px;
  box-shadow: 0px 1px 2px var(--border-color);
}



/* MEDIA QUERIS */

@media (max-width:767px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .sidebar{
    display: none;
  }
  .expense-record{
   grid-template-columns: 1fr;
  }

}

